.Rproj.user
.Rhistory
.RData
.Ruserdata
/*
/*/
*.log
!/.gitignore
!/.gitlab-ci.yml
!/data-raw/
!/DESCRIPTION
!/inst/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/ci/
!/vignettes/
/vignettes/*
!/vignettes/*.Rmd
!/README.md
!/tests/
/.Rhistory
/.Rproj*
/.RData
/.vscode
!/*.Rproj
!/.lintr
!/tic.R
!/.github/
docs/
